@font-face {
  font-family: 'JosefinSlab';
  src: url('fonts/josefinslab/JosefinSlab-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSans';
  src: url('fonts/josefinsans/JosefinSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSans';
  src: url('fonts/josefinsans/JosefinSans-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*start page styling*/
body{
  font-family: 'JosefinSans';
  font-size: 16px;
  line-height: 32px;
  background-color: #F7F7FF;
}
h1{
  font-family: 'JosefinSlab';
  font-size: 3em;
  text-align: center;
}
h2{
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  line-height: 1em;
}
h3{
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 0.1em;
  transition: color .5s ease;
}
p{
 line-height: 1.25em;
}
cite{
  font-weight: bold;
}
.link{
  text-decoration: none;
  color: #F0A202;
}

/*header*/
.header-flex{
  display:flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 1.5em;
  background-color: #410B13;
  color: #EBF2FA;
}

/*hamburger nav*/
.hamburger{
   color: #EBF2FA;
}
.overlay{
  position:fixed;
  z-index: 100;
  visibility: hidden;
  top:0;
  left:0;
  height:100%;
  width:100%;
  opacity:0;
  background-color: #FBFCFE;
  color:black;
  overflow: hidden;
  transition: opacity .5s, visibility .35s;
}
.overlay-content{
  text-align: center;
  line-height: 2em;
  font-size: 2em;
}
.show{
  visibility: visible;
  opacity:1;
}
.close-nav{
  color: black;
}


/*banner*/
.banner {
  text-align: center;
  line-height: 4em;
  padding-top:8em;
  padding-bottom:10em;
  margin:0.6em;
}
.banner a{
  font-size: 1.25em;
}

/*carousel*/
.carousel{
  display:flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  background-color: #36587D;
  height: 80vh;
  padding-top: 4em;
  padding-bottom: 4em;
}
.carousel-blurb{
  color: #EBF2FA;
  width:70%;
  flex:none;
}
.carousel-blurb h2{
  text-align: left;
  line-height: 1.2em;
  padding:1.2em;
  padding-top: 2em;
}
.carousel-item{
  margin:1em;
  color: #EBF2FA;
}
.carousel-item p{
  font-size: 1.2em;
  line-height: 1.2em;
}
.img-books{
  height: 60vh;
  transition: all 1s ease-in-out;
  box-shadow: 3px 3px 1px #000;
}
.img-books:hover{
  transform: scale(1.025);
}
.more-thinkers{
  border:0.5em;
  border-right: 1em;
}
.more-thinkers h2{
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  padding-top: 3em;
  font-size: 4em;
}

/*scale + add quote to carousel items on hover*/
.quote{
  opacity: 0;
  height:4em;
  transition: opacity .5s ease-in;
}

/*rates*/
.rates{
  height: 80vh;
  margin:1em;
  text-align: center;
}
.rates h2{
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.promo-text{
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1em;
}

.mailto{
  text-align: center;
  font-size: 1.5em;
}
.mailto:hover{
  text-decoration: underline;
}

/*testimonial slider*/
.testimonial {
	width: 80%;
	margin: 70px auto;
}

/*footer*/
footer{
  background-color: #410B13;
  color: #EBF2FA;
  text-align: center;
  padding: 1em;
}
footer a{
  color: #EBF2FA;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}

/*About page*/
.about{
  margin: 0.5em;
  text-align: center;
}
.about h2{
  line-height: 1em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}
.about h3{
  line-height: 1em;
  text-align: left;
}
.profile{
  border-radius:50%;
  width: 25%;
  height: 25%;
  margin:1em;
}
.about-flex{
  display: flex;
  justify-content: space-around;
  background-color: #36587D;
  color: #EBF2FA;
  margin-top: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: left;
}
.bio{
  line-height: 1.25em;
}
.ian:hover{
  color: #F0A202;
}

/*Book Me Page*/


/*tablet*/
@media (min-width: 600px) {
.banner{
  padding-bottom: 13em;
}

.carousel-blurb h2 {
  font-size: 3em;
  padding: 3em;
  padding-top: 2em;
}
.rates {
  height: 400px;
  margin-left: 8em;
  margin-right: 8em;
}
.about{
  margin-left: 2.5em;
  margin-right:2.5em;
}
.about-flex{
  align-items: center;
  justify-content: space-between;
}
.bio{
    margin-right: 13em;
}
.profile{
  padding-top: 0em;
  width: 15%;
  margin-left: 6em;
}

/*desktop*/
@media (min-width: 1140px) {
h1{
  font-size: 5em;
    line-height: 1.25em;
}
.banner{
  padding-bottom: 13em;
}
.banner a{
  font-size: 1.5em;
}
.promo-text{
  padding-left: 5em;
  padding-right: 5em;
}
.carousel-blurb{
  width:50%;
}
