@font-face {
  font-family: 'JosefinSlab';
  src: url('fonts/josefinslab/JosefinSlab-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSans';
  src: url('fonts/josefinsans/JosefinSans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSans';
  src: url('fonts/josefinsans/JosefinSans-regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*start page styling*/
body{
  font-family: 'JosefinSans';
  font-size: 16px;
  line-height: 32px;
  background-color: #F7F7FF;
}
h1{
  font-family: 'JosefinSlab';
  font-size: 3em;
  text-align: center;
}
h2{
  font-size: 2em;
  text-align: center;
}
h3{
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 0.1em;
  transition: color .5s ease;
}
p{
 line-height: 1.25em;
}
.link{
  text-decoration: none;
  color: #F0A202;
}

/*header*/
.header-flex{
  display:flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 1.5em;
  background-color: #410B13;
  color: #EBF2FA;
}

/*hamburger nav*/
.hamburger{
   color: #EBF2FA;
}
.overlay{
  position:fixed;
  visibility: hidden;
  top:0;
  left:0;
  height:100%;
  width:100%;
  opacity:0;
  background-color: #FBFCFE;
  color:black;
  overflow: hidden;
  transition: opacity .5s, visibility .35s;
}
.overlay-content{
  text-align: center;
  line-height: 2em;
  font-size: 2em;
}
.show{
  visibility: visible;
  opacity:1;
}
.close-nav{
  color: black;
}


/*banner*/
.banner {
  text-align: center;
  line-height: 4em;
  padding-top:8em;
  padding-bottom:10em;
  margin:0.6em;
}
.banner a{
  font-size: 1.25em;
}

/*carousel*/
.carousel{
  display:flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  background-color: #36587D;
  height: 80vh;
  padding-top: 4em;
  padding-bottom: 4em;
}
.carousel-blurb{
  color: #EBF2FA;
  width:70%;
  flex:none;
}
.carousel-blurb h2{
  text-align: left;
  line-height: 1.2em;
  padding:2em;
  padding-top: 3em;
}
.carousel-item{
  margin:1em;
  color: #EBF2FA;
}
.carousel-item p{
  font-size: 1.2em;
  line-height: 1.2em;
}
.img-books{
  height: 60vh;
}
.more-thinkers{
  border:0.5em;
  border-right: 1em;
}
.more-thinkers h2{
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  padding-top: 3em;
  font-size: 4em;
}

/*apply gradient + add quote to images on hover*/
.quote{
  /*visibility: hidden;*/
  opacity: 0;
  height:4em;
  transition: visibility 3s, opacity .5s ease-in;
}



/*Rates*/

.rates h2{
  margin:2em;
}




footer{
  background-color: #410B13;
  color: #EBF2FA;
}
